.name{
    font-size: 5rem;
}

.section-header{
    font-size: 3rem;
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    color: #40424a;
    margin: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

body{
    font-family: 'Josefin Sans', sans-serif;
}


.workList li:before , .eduList li:before, .skillList li:before{
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    border: 2px solid #40424a;
    border-radius: 50px;
    background: #cacaca;
    left: -49px;
    top: 50px;
}

div.links:after
{
    position: absolute;
    content: '';
    width: 60%;
    height: 2px;
    left: 48%;
    top: 50%;
    margin-top: 1px;
    background: #cbcbcb;
}
body{
    color: #808181;
    font-size: 1.5em;
}
.infoList li,.workList li,.eduList li, .skillList li{
    list-style: none;
    position: relative;
    padding: 1rem;
}

.infoList li span{
    display: inline-block;
    min-width: 8em;
    margin:auto;
    color: #808181;
    
}

.section1, .section3{
    background: #F2F7F8;
    
}

.section2{
    background-color: #FFFFFF;
}
.section4{
    background-image: url(images/resume-bg.jpg);
}

.section6{
    background-color :#F2F7F8;
}

.workList, .eduList, .skillList{
    
    color: #808181;
    border-left: 2px solid #40424a;
}
/* social profile */
.links{
    cursor: pointer;
    margin: 1.5rem;
}

/* Portfolio */
.btn-portfolio, .btn-download-cv {
    margin: 2em;
}

.img-port{
    min-height: 8em;
    cursor: pointer;
}

/* Skills */

.skillList ul li{
    display: flex;
}

.skill-icons{
    max-width: 2em;
    max-height: 2em;
    margin-top: 0.5em;
}

.skill-line{
    position: absolute;
    content: '';
    width: 15em;
    height: 2px;
    left: 4em;
    top: 50%;
    margin-top: 1px;
    background: #cbcbcb;
}

.skillList ul li div.row{
    min-width: 110%;
}