.name{
    font-size: 6vw;
    width: 8em;
}

.section-header{
    font-size: 3vw;
    text-decoration: underline;
    margin: 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #40424a;
    margin: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    padding-bottom: 1.5vw;
    padding-top: 1.5vw;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    color: #808181;
    font-size: 4vw;
}


.workList li:before , .eduList li:before, .skillList li:before{
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    border: 2px solid #40424a;
    border-radius: 50px;
    background: #cacaca;
    left: -49px;
    top: 1.5em;
}

.img-div:after{
    position: absolute;
    content: '';
    width: 60%;
    height: 2px;
    left: 12vw;
    top: 25%;
    margin-top: 1px;
    background: #cbcbcb;
    }


.infoList li,.workList li,.eduList li, .skillList li{
    list-style: none;
    position: relative;
    padding: 1vw;
}

.infoList li span{
    display: inline-block;
    min-width: 7em;
    margin:auto;
    color: black;
    
}

.section1{
    background: #F2F7F8;  
}

.section2,.section3{
    background-color: #FFFFFF;
}
.section4{
    background-image: url(images/resume-bg.jpg);
}

.section6{
    background-color :#F2F7F8;
}

.workList, .eduList, .skillList{
    
    color: #808181;
    border-left: 2px solid #40424a;
}
/* social profile */
.links{
    cursor: pointer;
    margin: 1em;
    margin-left: 0;
    font-size: 1em;
}

/* Portfolio */
.btn-portfolio, .btn-download-cv {
    margin: 2em;
    font-size: 0.5em;
    width: 10rem;
    min-width: fit-content;
}

.img-port{
    min-height: 15rem;
    cursor: pointer;
    font-size: 1.5rem;
    width: 15rem;
    margin: 1px;
}

.card {
    width: fit-content;
}



/* Skills */

.skillList ul li{
    display: flex;
}

.skill-icons{
    max-width: 2.5em;
    max-height: 2.5em;
    min-width: 2.5em;
    min-height: 2.5em;
    margin:auto;
}

.no-padding{
    padding: 0;
  
}


.skillList ul li div.row{
    min-width: 110%;
    min-height: 11vh;
}

.workList li p, .eduList ul li h4, .eduList ul li p{
    word-wrap: break-word;
}

.footer {
    display: none;
}
.mediumAndUp {
    display: none;
}

.xsAndSmall {
    display: block;
}

/* medium and large devices */
@media (min-width: 576px) { 
    /* 768px */
    .footer {
        display: block;
    }
    .mediumAndUp {
        display: block;
    }
    .xsAndSmall {
        display: none;
    }
    .footer-small{
        display: none;
    }
    body{
        font-size: 2vw; 
    }
    
}

/* small and xtra small devices */
@media(max-width: 576px){

    .img-div:after{
        display: none;
    }
    .skill-div{
        width: 20vw;
    }
    .section-header{
        font-size: 5vw;
    }
    body{
        font-size: 4vw; 
    }
    .btn-portfolio{
        margin:0em;
        font-size: 0.8em;
    }
    .portfolio{
        margin:auto;
        margin-bottom: 1em;
    
    }

    .infoList li span{
        display: inline-block;
        min-width: 5em;
        margin: auto;
        color: black;
    }
    
}

@media(max-width:800px) and (min-width: 576px ){
   body{
    font-size: 3vw; 
   }
}


.name-footer {
    width: 60vw;
}



.links-footer{
    width: 30vw;
}


.link-footer{
    font-size: 1.5em;
    margin: 2vw;
}

/* animated header */
.animate{
    display: flex;
}
.ishidden{
    display: none;
}

.isVisible{
    display: block;
}

.card {
}