.name{
    font-size: 6vw;
}

.section-header{
    font-size: 3vw;
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    color: #40424a;
    margin: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    padding-bottom: 1.5vw;
    padding-top: 1.5vw;
}

body{
    font-family: 'Josefin Sans', sans-serif;
}


.workList li:before , .eduList li:before, .skillList li:before{
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    border: 2px solid #40424a;
    border-radius: 50px;
    background: #cacaca;
    left: -49px;
    top: 1.5em;
}

div.links:after
{
    position: absolute;
    content: '';
    width: 10em;
    height: 2px;
    left: 6em;
    top: 1.5em;
    margin-top: 1px;
    background: #cbcbcb;
}
body{
    color: #808181;
    font-size: 2vw;
}
.infoList li,.workList li,.eduList li, .skillList li{
    list-style: none;
    position: relative;
    padding: 1vw;
}

.infoList li span{
    display: inline-block;
    min-width: 16vw;
    margin:auto;
    color: #808181;
    
}

.section1{
    background: #F2F7F8;  
}

.section2,.section3{
    background-color: #FFFFFF;
}
.section4{
    background-image: url(images/resume-bg.jpg);
}

.section6{
    background-color :#F2F7F8;
}

.workList, .eduList, .skillList{
    
    color: #808181;
    border-left: 2px solid #40424a;
}
/* social profile */
.links{
    cursor: pointer;
    margin: 1.5vh;
}

/* Portfolio */
.btn-portfolio, .btn-download-cv {
    margin: 3vh;
}

.img-port{
    min-height: 11rem;
    cursor: pointer;
    font-size: 1.5rem;
}

/* Skills */

.skillList ul li{
    display: flex;
}

.skill-icons{
    max-width: 2.5em;
    max-height: 2.5em;
    min-width: 2.5em;
    min-height: 2.5em;
    
}

.skill-line{
    position: absolute;
    content: '';
    width: 15vw;
    height: 2px;
    left: 8vw;
    top: 50%;
    margin-top: 1px;
    background: #cbcbcb;
}

.skillList ul li div.row{
    min-width: 110%;
}

.workList li p, .eduList ul li h4, .eduList ul li p{
    word-wrap: break-word;
}
